/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0px 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
}

.item-row {
  display: flex;
  flex-direction: column;
}

.item-row img {
  width: 100%;
}


.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;

}

header nav {
  /* Changes the display property from its default to `flex`. */
  display: flex;
  /* Centers an element defined as `display: flex`. */
  justify-content: center;
}


.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  text-align: center;
}

header nav ul {
  list-style: none;
  display: flex;
  padding-left: 20px;
}

header nav ul li {
  list-style-type: none;
  display: flex;
  margin: 0px 20px 0px 0px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 20px 0px 0px;
  display: flex;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}


/* -------  Ideas ------- */
.ideas {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}



/* -------  Search Form ------- */

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 65%;
  float: right;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* When a web browser is larger than 480 pixels,
   apply these rules. */

   @media all and (max-width: 800px) {
    /* -------  Form ------- */
    form {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
    }

    form select,
    form input {
      margin-bottom: 10px;
      width: 100%;

    }

    /* -------  Ideas ------- */
    .item-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 20px;
    }

    .item-row {
      display: flex;
      flex: 1;
      flex-direction: row;
    }

   }



   @media all and (max-width: 480px) {
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
    }

    form select,
    form input {
      margin-bottom: 10px;
      width: 100%;

    }

     /* -------  Header ------- */
    header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background-color: #ff385c;
      padding: 0px 30px;
    }
  
    header nav {
      display: flex;
      justify-content: center;
      padding: 0px 0px 30px 0px;
    }

    /* -------  About/Host ------- */
    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .item {
      flex: 1;
      margin: 10px;
    }
    
    /* -------  Ideas ------- */
    .item-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 20px;
    }

    .item-row {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  
  }
